*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular",Verdana,Arial, sans-serif;
	font-size: 16px;
}
/*Flex_modification*/
.flex_wrap{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.flex_wrap_hor_center{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.flex_wrap_vert_center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
/*MAIN ELEMENTS*/
.main_title{
    font-family: "MontserratBold";
    font-size:36px;
    line-height: 0.97;
    color:#1b1b1b;
    text-transform: uppercase;
    letter-spacing: 4.3px;
    margin: 0;
    margin-bottom: 42px;
    padding: 0;
}
.main_title_invert_color{
    color:#fff;
}
.alt_title{
    margin: 0;
    padding: 0;
  font-family: "WildYouth";
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: normal;
  color: #e4bb7a;
}
.main_text{
    font-family: "Average";
    font-size:15px;
    line-height: 26px;
    color:#4d4d4d;
    margin-bottom: 44px;
}
.main_text_invert_color{
    color:#eee;
}
/*TOP LINE*/
.top_line{
   background-color:#e4bb7a;
    padding:6px 0 ;
}
.top_line_addr span{
    margin-left:8px;
     font-family: "Average";
    font-size:13px;
    color:#1b1b1b;
}
.geolink,.social_btn{
    color:#1b1b1b;
    -webkit-transition: all .2s;
    transition:all .2s;
}
.social_btn:not(:last-of-type){
  margin:0 4px;
}
.geolink:hover,.social_btn:hover{
    color:#d22c2c;
}
/*ADD HEAD&NAVIGATION*/
.add_head{
    background-color: #000;
    padding: 20px 0;
}
.main_nav{
    text-align: center;
}
.main_nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.main_nav li{
    display: inline-block;
}
.main_nav_itm{
    padding:0 20px;
    font-family: "Montserrat";
    font-size:15px;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.main_nav_itm_inv_color{
    color:#1b1b1b;
}
.main_nav_itm:hover{
    color: #e4bb7a;
}
.main_nav_itm:active{
    color:#e7ca7c;
}
.main_menu{
    padding-right:0;
}
/*WELCOME*/
.welcome{
    min-height:800px;
    background-color: #302b2b;
    position: relative;
}
.welcome_content{
    margin:120px auto 100px ;
    text-align: center;
}
.welcome_content__title{
    margin: 0;
    color:#fff;
    font-family: "Average";
    font-size:76px;
    line-height:75px;
}
.arrow{
    margin:42px auto;
}
/*FIXME*/
.velo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*MAIN BUTTON*/
.main_btn{
    padding:19px 63px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size:15px;
    background-color: #e4bb7a;
    border-radius:3px;
    color:#121212;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.main_btn:hover,.main_btn:focus{
    text-decoration: none;
     background-color:#e7ca7c;
    color:#121212;
}
.main_btn_alt{
    background-color: inherit;
    outline:1px solid #000;
}
/*SCROLL ICONS&POSITION*/
.add_scroll{
    width:100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
}
.add_content_btn{
    color:#e4bb7a;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.add_content_btn:hover{
    color:#e7ca7c;
}
/*RESERV*/
.reserv{
    padding:30px 0;
}
.logo_wrap{
    margin-bottom:30px;
    text-align: center;
}
.logo_container{
     width: 44px;
  height: 39px;
  -o-object-fit: contain;
  object-fit: contain;
   background-image: url(../img/logo.png) ;
background-repeat: no-repeat;
}
.reserv .social_btn_wrap{
    margin:45px auto;
}
.org_food{
    padding: 90px 0 45px 0;
    min-height:680px;
    background-color: #cccccc;
    position: relative;
}
.org_food  .main_nav li:first-child .main_nav_itm,.org_food  .main_nav li:last-child .main_nav_itm{
    padding:0;
}
.org_food_content{
    margin:170px auto;
    text-align: center;
}
.org_food_content_wrap{
    padding: 50px 70px;
    background-color: #fff;
    outline: 1px solid #1d1d1c; 
    outline-offset: -10px; 
}
.org_food_content_text{
    margin:42px auto 60px auto;
}
.org_food__add__content{
    min-height:600px;
    background-color: #dddddd;
}
.social_btn span{
    margin-bottom:36px;
}
.org_food__add__content_info{
    margin:114px auto;
    padding:20px 54px 30px 74px;
    background-color: #fff;
}
.history{
    min-height:600px;
    background-color: #3f3f3f;
}
.history_content{
    margin:117px auto 60px;
}
.ask{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  min-height: 360px;
  background-color: #292929;
}
.ask .main_text{
    font-size:36px;
    line-height: 0.69;
}
.menu_tag{
    text-align: center;
    margin:84px auto 100px;
}
.menu_content_itm{
    padding:55px 52px 48px 120px;
     box-shadow: 0 0 36.1px 1.9px rgba(0, 0, 0, 0.05);
  border: solid 1px #e4bb7a;
}